{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}

<br>
<br>
【自分のポケモン】の欄には、あなたが育成したいポケモンの名前を入力して下さい。

<br>
<br>

【相手のポケモン】の欄には、育成したいポケモンが、対策したいポケモンを入力して下さい。
<br>
<br>
Name                      ：対策したいポケモンの名前
<br>
EffortValue-HP            ：対策したいポケモンのHPの努力値
<br>
EffortValue-Attack        ：対策したいポケモンのこうげきの努力値
<br>
EffortValue-Defense       ：対策したいポケモンのぼうぎょの努力値
<br>
EffortValue-SpecialAttack ：対策したいポケモンのとくこうの努力値
<br>
EffortValue-SpecialDefense：対策したいポケモンのとくぼうの努力値
<br>
EffortValue-Speed         ：対策したいポケモンのすばやさの努力値
<br>
<br>

次に比較したい条件を入力してください。
<br>
素早さを「検証する」を選択すると、調整したいポケモンが、対策したいポケモンより素早くするために必要な努力値を出力します。
<br>
<br>
攻撃力を「検証する」を選択すると、調整したいポケモンが、対策したいポケモンを1回の技でHPを0にするために必要なこうげき・とくこうを出力します。
<br>
またその際に「自分のポケモンが使用する技」を入力した下さい。
<br>
<br>
防御力を「検証する」を選択すると、調整したいポケモンが、対策したいポケモンの1回の技でHPを0にされないために必要なぼうぎょ・とくぼうを出力します。
<br>
またその際に「相手のポケモンが使用する技」を入力して下さい。
<br>
<br>
最後に、「努力値を計算する」をクリックすれば、当該の条件を満たす努力値調整がしゅつりょくされます。

<h3>【注意】</h3>
全てのポケモンのレベルを50に統一して計算しています。

<!--画像のせればいいかな-->
<br>
<a type="button" class="btn btn-primary btn-sm text-center" href = "{% url 'input' %}" target="_blank">調整画面に戻る</a>
{% endblock %}
