{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}

<div class="welcome">
    <h1 class="title">ようこそ、ポケモン努力値調整ツールへ</h1>
</div> 

<!--
<form method="post">
    <label for="input1">自分のポケモンを入力する:</label>
    <input type="text" id="input1" name="input1"><br>
</form>

<form>
    <label for="input1">相手のポケモンを入力する:</label>
    <input type="text" id="input1" name="input1"><br>

    <div class="input-EV">
        <label for="input2">H:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">A:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">B:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">C:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">D:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">S:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>

    <label for="input1">特性:</label>
    <input type="text" id="input1" name="input1"><br>
    <a class="btn btn-primary" type="submit" href="{% url 'result' %}">努力値を計算する</a>
</form>
-->

<form action ="" method="post">
    {{forms}}
    {% csrf_token %}
    <a class="btn btn-primary" button_type="submit" href="{% url 'result' %}" content="hozon"></a>
</form>

<form method="post">
    {% csrf_token %}
    {{forms }}
    {% bootstrap_button button_type="submit" content="保存"%}
</form>

<a class="btn btn-primary">ポケモンを追加する</a>
<a type="submit" class="btn btn-primary" href="{% url 'result' %}">努力値を計算する</a>

{% endblock %}