{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}

<div class="welcome">
    <h1 class="title">ようこそ、ポケモン努力値調整ツールへ</h1>
</div> 

<!--
<form method="post">
    <label for="input1">自分のポケモンを入力する:</label>
    <input type="text" id="input1" name="input1"><br>
</form>

<form>
    <label for="input1">相手のポケモンを入力する:</label>
    <input type="text" id="input1" name="input1"><br>

    <div class="input-EV">
        <label for="input2">H:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">A:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">B:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">C:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">D:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>
    <div class="input-EV">
        <label for="input2">S:</label>
        <input class="input-num" type="text" id="input2" name="input2"><br>
    </div>

    <label for="input1">特性:</label>
    <input type="text" id="input1" name="input1"><br>
    <a class="btn btn-primary" type="submit" href="{% url 'result' %}">努力値を計算する</a>
</form>
-->


<br>

<form method="post" name="input" target="_blank" action="{% url 'result' %}">
    <label for="input1">自分のポケモン:</label>
    {{my_pokemon_form}}
    {% csrf_token %}
    <br>
    <br>
    <label for="input1">相手のポケモン:</label>
    <br>
    {% csrf_token %}
    {{opposite_pokemon_form}}
    <br>
    に対して，
    素早くしたい
</form>
<a class="btn btn-primary" href="javascript:input.submit();" rel="noopener noreferrer">努力値を計算する</a>

<a class="btn btn-primary">ポケモンを追加する</a>
{% endblock %}